
main{
    background-color: #362D27;
}
.H1-MAIN{
    color: aliceblue;
    justify-content: center;
    display: flex;
    align-items: center;
    margin-bottom: 3rem;
}
#TodasCartas {
    justify-content: center;
    display: flex;
    gap: 2rem;
    padding: 12rem;
}   
.cartas-largas{
    margin-left: 10rem;
    padding-bottom: 3rem;
}
.espacio{
    margin-bottom: -3rem;
    margin-top: 3rem;
}

.card-text{
    text-decoration: none;
    colo 
}

a {
    color: black;
    text-decoration: initial;
}